<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <style>
    table {
      width: 500px;
      border: 3px solid black;
      border-collapse: collapse;
    }

    th, td {
      border: 3px solid black;
      border-collapse: collapse;
    }
  </style>
  <title></title>
</head>
<body>
<div>
  <h1>Car list</h1>
  <table>
      <tr>
        <th >Brand</th>
        <th >Color</th>
        <th >Licence plate</th>
      </tr>
      <tr th:each="car : ${cars}" align="center">
        <td th:text="${car.brand}"/>
        <td th:text="${car.color}"/>
        <td th:text="${car.licence_plate}"/>
      </tr>
  </table>
</div>
</body>
</html>